*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1D1D1D;
    font-size: 100vw;
}
canvas{
    background: white;
    position: absolute;
    top: 240px;
    left: 310px;
}
/* @media screen and (min-width: 1890px){
    canvas{
        top: 0px;
        left: 0px;
    }
} */